<launch>
    <!--Allow user to enter publishing rate-->
    <arg name="pubRate" default="5" />

    <!--Launch talker and output to terminal-->
    <node pkg="beginner_tutorials" name="talker" type="talker" args="$(arg pubRate)" output="screen"/>

    <!--Launch listener and output to terminal-->
    <node pkg="beginner_tutorials" name="listener" type="listener" output="screen"/>

</launch>